In [51]:
import pandas as pd
df = pd.read_excel('portocalvo-marco.xlsx')

In [52]:
questao = 'Q1'
questao2='Q2'

In [53]:
df_sexo = df

In [54]:
df_sexo = pd.crosstab(index=df_sexo[questao], columns = df_sexo[questao2], margins = True, margins_name = 'GERAL', normalize='columns')

In [55]:
df_sexo = round(df_sexo*100,2)

In [56]:
df_sexo

Q2             NENHUMA  NS/NO  POUCAS  QUASE TODAS  TODAS  GERAL
Q1
BOM              20.59  37.17   41.96        56.44  39.53  44.61
NS/NO             2.94  23.89    0.00         0.50   0.00   5.30
OTIMO             8.82  15.04   10.71        27.72  55.81  24.86
PESSIMO          23.53   5.31    6.25         1.49   0.00   4.39
REGULAR MAIS      8.82  13.27   25.89        10.89   1.16  12.80
REGULAR MENOS    14.71   4.42   14.29         2.97   2.33   6.22
RUIM             20.59   0.88    0.89         0.00   1.16   1.83